html {
  height: 100%;
}
body{
    min-height: 100%;
    position: relative;
}
body:after {
    content: '';
    display: block;
    height: 100px;
}

.main {
  padding-top: 3rem;
}
img {
	max-width:100%;
	display:block;
}


figure {
  &.highlight{
      margin:6px 0;
  }
}
pre, code {
    overflow: auto;
}
pre{
  white-space: pre-wrap;
	white-space: -moz-pre-wrap !important;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	width: 99%;
  margin:0;
}

#news {
  .row {
    margin-bottom: 10px;
    h5 {
      margin: 0;
      a {
        text-decoration: none;
      }
    }
  }
}
#manual p {
    text-align: justify;
}


#contribute {
    .icon {
        float: left;
        width: 20%;
        text-align: center;
        margin: 5px 10px;
    }
    .description {
        text-align: justify;
    }
    @media only screen and (max-width: 750px) and (min-width: 550px) {
      .icon {
        float: none;
        margin-left: auto;
        margin-right: auto;
      }
    }
}

footer {
  position: absolute;
  margin-top: 20px;
  bottom: 0;
  width: 100%;
  height: 30px;
  padding: 12px 0;
  .footer-content {
    width: 70%;
    left: 15%;
    right: 15%;
    padding: 5px;
    margin: 0 auto;
    .footer-left {
      float: left;
    }
    .footer-right {
      float:right;
    }
  }

  @media only screen and (max-width: 720px) {
    .footer-content {
      overflow: hidden;
      .footer-left, .footer-right{
        float: none;
        text-align: center;

      }
    }
  }

}


// Change skeleton default behavior
.one-third {
    &:not(.responsive) .news-info {
      bottom: 0;
      position: absolute;
    }
    .br {
      display: none;
    }
    @media only screen and (max-width: 750px) and (min-width: 550px) {
      .br {
        display: block;
      }
    }
}

.pagination{
    margin-top:10px;
}



.news-row {
    position: relative;
    @media only screen and (max-width: 750px) and (min-width: 550px) {
      .description{
          margin-bottom: 3px;
      }
    }
}
.container .text-muted {
    margin: 20px 0
}


// Few simple but useful classes
.float-left {
  float: left;
  margin: 10px;
}

.float-right {
  float: right
}

.clearfix:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both
}

.center-big-boss {
  width: 30%;
  margin: 0 auto;
}

.center {
  width: 100%;
  margin: 0 auto
}
