---
layout: default
---
    <!-- Header
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="section hero">
        <div class="row">
            <div class="one-half column">
                <h1>Tilix</h1>
                <h4 class="hero-heading">
                    Tilix is an advanced GTK3 tiling terminal emulator that follows the Gnome Human Interface Guidelines.
                </h4>
                <span class="scroll">
                    <a class="button button-primary" href="#packages">Try Tilix</a>
                </span>
                <a class="button button-primary" href="https://github.com/gnunn1/tilix/">
                    <span class="lsicon-github"></span> &nbsp; Source Code
                </a>
            </div>
            <div class="one-third column float-right">
                <img class="u-max-full-width" alt="Tilix logo" src="{{site.baseurl}}/assets/images/logo.png">
            </div>
        </div>
    </div>
    <br>
    <br>

    <!-- Screenshots
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="section categories">
        <h3 class="section-heading">Screenshots</h3>
        <div>
            <ul class="my-slider">
            {% for image in site.static_files %}
                {% if image.path contains 'images/gallery' %}
                <li> <img class="u-max-full-width" src="{{site.baseurl}}{{image.path}}" alt="{{image.name | replace:'.png', ''}}"> </li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>
    <br>
    <br>

    <!-- Features
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="section features" id="features">
        <h3 class="section-heading">Features</h3>
        {% if site.features != empty %}
            {% for feature in site.features %}
                {% assign loopindex = forloop.index | modulo: 3 %}
                {% if loopindex == 1 %}
                <div class="row">
                {% endif %}
                <div class="one-third column value">
                    <i class="fa {{ feature.icon }} fa-5x" aria-hidden="true"></i>
                    <h5 class="value-multiplier">{{ feature.title }}</h5>
                  {{ feature.content }}
                </div>
                {% if loopindex == 0 %}
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    <br>
    <br>

    <!-- Packages
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="section packages" id="packages">
        <h3 class="section-heading">Getting Tilix</h3>
        <p class="section-description">The best way to get Tilix is from packages maintained for your specific Linux distribution. The following distributions have packages available.</p>
		{% if site.packages != empty %}
        <div class="tabs">
            <nav>
                <ul class="tabs-navigation" id="tabs">
                    {% for package in site.packages %}
                    {% if package.id == "/packages/aoscos" %}
                    <li class="selected">
                    {% else %}
                    <li>
                    {% endif %}
                        <a data-content="{{ package.id }}">{{ package.title }}</a>
                    </li>
                    {% endfor %}
                    <li class="hamburger-button">
                      <a href="javascript:void(0);" onclick="packagestabs()">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                      </a>
                    </li>
                </ul>
            </nav>
            <ul class="tabs-content">
                {% for package in site.packages %}
                    {% if package.id == "/packages/aoscos" %}
                    <li data-content="{{ package.id }}" class="selected">
                    {% else %}
                    <li data-content="{{ package.id }}">
                    {% endif %}
                    {{ package.content }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    <!-- Authors
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <br>
    <br>
    <div class="section contribute" id="contribute">
        <h3 class="section-heading">Contribute</h3>
        <div class="row">
            <div class="one-half column">
                <div class="icon">
                    <i class="fa fa-globe fa-5x" aria-hidden="true"></i>
                </div>
                <div class="description">
                    <p>
                          Tilix welcomes contributions and encourages participation from the community, for developers please visit the <a href="https://github.com/gnunn1/tilix">Tilix Github Development</a> site to contribute. For translators, Tilix is localized using Weblate, please visit the Weblate hosted <a href="https://hosted.weblate.org/projects/tilix/translations">Tilix translations site</a> in order to assist with translations, please do not submit direct pull requests to the repository for translations.
                    </p>
                </div>
            </div>
            <div class="one-half column">
              <div class="icon">

                <i class="fa fa-github fa-5x" aria-hidden="true"></i>
              </div>

              <div class="description">

              <p>
                If you are having issues with Tilix, feel free to open issues in the <a href="https://github.com/gnunn1/tilix/issues">Tilix Github Issues</a> page as necessary. Developers and users can also be found on IRC on the freenode network in the <a href="irc://irc.freenode.net/terminix">#terminix</a> room.

              </p>
              </div>

          </div>
    </div>
</div>
