---
permalink: /manual/
title: Documentation
layout: default
---
<h1>Documentation</h1>
<p>Welcome to the Tilix documentation, here is where you will learn to use all of the features in Tilix and make your experience as fun and productive as possible. Click on a link below to read more about a specific feature and how to get started using it.</p>


<div id="manual">
{% for manual in site.manual %}
  {% assign loopindex = forloop.index | modulo: 3 %}
  {% if loopindex == 1 %}
    <div class="row">
  {% endif %}
  <div class="one-third column value">
    <i class="fa {{ manual.icon }} fa-5x" aria-hidden="true"></i>
    <h6 class="value-multiplier">
      <a href="{{site.baseurl}}{{manual.id}}">{{manual.title}}</a>
    </h6>
    <p>{{manual.description}}</p>
  </div>
    {% if loopindex == 0 %}
      </div>
    {% endif %}
{% endfor %}
{% assign news_total = site.manual.size | modulo: 3 %}
{% if news_total != 0%}
  </div>
{% endif %}
</div>
