---
permalink: /news/
title: Terminix&colon; News
layout: default
---

 <div class="section">
    {% if site.news != empty %}
        {% assign ordered_news = site.news | sort: 'date' %}
	    {% for news in ordered_news reversed %}
	        {% assign loopindex = forloop.index | modulo: 3 %}
	        {% if loopindex == 1 %}
	        <div class="row">
	        {% endif %}
	        <div class="one-third column value news-row">
	        <i class="fa {{ news.icon }} fa-5x" aria-hidden="true"></i>
	        <h5 class="value-multiplier"><a href="{{site.baseurl}}{{news.id}}">{{news.title}}</a></h5>
	          <div class="news-description"><p>{{ news.description }}</p></div>
                <span class="br"><br></span>
                <small class="news-info">
                    <span class="author"><i class="fa fa-user-o" aria-hidden="true"></i> {{ news.author }}&nbsp;&nbsp;</span>
                    <span class="br"></span>
                    <span class="date"><i class="fa fa-calendar" aria-hidden="true"></i> &nbsp;{{ news.date | date: "%b %-d, %Y" }}</span>
                </small>
	        </div>
	        {% if loopindex == 0 %}
	        </div>
	        {% endif %}
	    {% endfor %}
  	{% else %}
  		<h1>No news at the moment... </h1>
	{% endif %}

    </div>
