<!-- Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<footer>
    <div class="footer-content">
        <div class="text-muted footer-left">
            Designed and coded with love by <a href="https://github.com/bilelmoussaoui">Bilal Elmoussaoui.</a>
        </div>
        <div class="text-muted footer-right">
            Published by <a href="https://pages.github.com/">GitHub Pages</a> | <a href="#top">Back to top</a>
        </div>
        <div class="clearfix"></div>
    </div>
</footer>
<!-- End Document
                –––––––––––––––––––––––––––––––––––––––––––––––––– -->
