<head>
    <!-- Basic Page Needs
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">
    <!-- Mobile Specific Metas
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- FONT
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
    <!-- CSS
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/normalize.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/skeleton.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/unslider.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/custom.css">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | prepend: site.baseurl }}">

    <!-- Favicon
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="{{site.baseurl}}/assets/images/favicon.png">
</head>
