<nav class="topnav">
  <ul class="navigation" id="navbar">
    <li>
      <a href="{{site.baseurl}}/">
        <i class="fa fa-terminal" aria-hidden="true"></i> Terminix
      </a>
    </li>
    <li class="scroll"><a href="{{site.baseurl}}/#features">Features</a></li>
    <li><a href="{{site.baseurl}}/news/">News</a></li>
    <li><a href="{{site.baseurl}}/faq">FAQ</a></li>
    <li><a href="{{site.baseurl}}/manual/">Documentation</a></li>
    <li class="scroll"><a href="{{site.baseurl}}/#packages">Download</a></li>
    <!--
    <li class="donate"><a href="#">Donate</a></li>
    -->
    <li class="hamburger-button">
      <a href="javascript:void(0);" onclick="navbar()">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
</nav>
