.footer {
    margin-top: 20px;
    bottom: 0;
    width: 100%;
    height: 60px;
}
pre, code {
    overflow: auto;
}
pre{
    white-space: pre-wrap;                
	white-space: -moz-pre-wrap !important;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;  
	word-wrap: break-word;   
	width: 99%; 
}

.container .text-muted {
    margin: 20px 0
}

.footer-left,
.float-left {
    float: left
}

.float-left {
    margin: 10px;
}

.footer-right,
.float-right {
    float: right
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px
}

.clearfix:after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both
}

.center-big-boss {
    width: 30%;
    margin: 0 auto;
}

.center {
    width: 100%;
    margin: 0 auto
}

/* Style the list */

.tabs ul.tabs-navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    background-color: #222222;
}


/* Float the list items side by side */

.tabs ul.tabs-navigation li {
    float: left;
    margin: 5px 10px;
}


/* Style the links inside the list items */

.tabs ul.tabs-navigation li a {
    display: inline-block;
    color: white;
    padding: 12px 6px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
}

.tabs ul.tabs-navigation li.hamburger-button {
    display: none;
}


/* Change background color of links on hover */

.tabs ul.tabs-navigation li a:hover {
    opacity: 0.7;
    color: white;
}

.tabs ul.tabs-navigation li a:hover:before {
    opacity: 0.7;
}


/* Create an active/current tablink class */

.tabs ul.tabs-navigation li.selected {
    opacity: 0.6;
}


/* Style the tab content */

.tabs ul.tabs-content li {
    list-style-type: none;
    display: none;
    padding: 10px 16px;
    text-align: justify;
    border: 1px solid #DADFE1;
    border-top: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
    /* Fading effect takes 1 second */
}

@media only screen and (max-device-width: 480px) {
    .tabs ul.tabs-navigation {
        background-color: #222222;
    }
    .tabs ul.tabs-navigation li.selected {
        color: white;
        opacity: 1;
    }
    .tabs ul:not(.tabs-responsive) li:not(.selected) {
        display: none;
    }
    .tabs ul.tabs-navigation li.hamburger-button {
        display: inline-block;
        float: right;
    }
    .tabs ul.tabs-responsive {
        position: relative;
    }
    .tabs ul.tabs-responsive li {
        float: none;
        display: block;
    }
    .tabs ul.tabs-responsive li.hamburger-button {
        position: absolute;
        right: 0;
        top: 0;
    }
    .tabs ul.tabs-repsonsive li a {
        display: block;
        text-align: left;
    }
}

@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
