/**
*   Here's where everything gets included. You don't need
*   to change anything here, and doing so might break
*   stuff. Here be dragons and all that.
*/


/**
*   Default variables
*
*   While these can be set with JavaScript, it's probably
*   better and faster to just set them here, compile to
*   CSS and include that instead to use some of that
*   hardware-accelerated goodness.
*/

.unslider {
    overflow: auto;
    margin: 0;
    padding: 0;
}

.unslider-wrap {
    position: relative;
}

.unslider-wrap.unslider-carousel > li {
    float: left;
}

.unslider-vertical > ul {
    height: 100%;
}

.unslider-vertical li {
    float: none;
    width: 100%;
}

.unslider-fade {
    position: relative;
}

.unslider-fade .unslider-wrap li {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 8;
}

.unslider-fade .unslider-wrap li.unslider-active {
    z-index: 10;
}

.unslider ul,
.unslider ol,
.unslider li {
    list-style: none;
    /* Reset any weird spacing */
    margin: 0;
    padding: 0;
    border: none;
}

.unslider-arrow {
    display: block;
    width: 32px;
    height: 32px;
    top: 30%;
    right: -50px;
    left: auto;
    margin-top: -16px;
    overflow: hidden;
    background: rgba(0, 0, 0, .2) no-repeat 50% 50%;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAQCAQAAABuQZ3IAAAAi0lEQVR4AU3OISBEQQBAwS0AACS9NxqQgCZpkiYBVddFvWhAAUABAPQCAGC4g/0vTnrBqCfDIZl70J+kMUBPpEwT4FNXxBxz4F1HxHyr4EVTxBLb4EFNxEon4CJSlVNw9AcV9sC16h8osgke1P1ArgXwouVvdQq86ww/GQefusNf7kBviBlxpT8k+gL/Wox4r1d4MwAAAABJRU5ErkJggg==');
    background-size: 7px 11px;
    border-radius: 32px;
    text-indent: -999em;
    opacity: .6;
    transition: opacity .2s;
}

.unslider-arrow:hover {
    opacity: 1;
}

.unslider-arrow.prev {
    left: -50px;
    right: auto;
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.unslider-arrow {
    position: absolute;
    left: 20px;
    z-index: 2;
    cursor: pointer;
}

.unslider-arrow.next {
    left: auto;
    right: 20px;
}

.unslider-arrow.prev {
    right: auto;
    left: 20px;
}

.unslider-nav ol {
    list-style: none;
    text-align: center;
}

.unslider-nav ol li {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 4px;
    background: transparent;
    border-radius: 5px;
    overflow: hidden;
    text-indent: -999em;
    border: 2px solid #fff;
    cursor: pointer;
}

.unslider-nav ol li.unslider-active {
    background: #fff;
    cursor: default;
}