<!DOCTYPE html>
<html lang="{{ site.lang | default: page.lang | default: 'en' }}">

  {% include head.html %}

<body>
  {% include navbar.html %}
  <main class="main" aria-label="Content">
  	<div class="container">
  	<h1><i class="fa  {{ page.icon }}" aria-hidden="true"></i>&nbsp;{{page.title}}</h1>
    <i class="fa fa-user-o" aria-hidden="true"></i> {{ page.author }} &nbsp;&nbsp;<i class="fa fa-calendar" aria-hidden="true"></i> &nbsp;{{ page.date | date: "%b %-d, %Y" }}
    <br/> <br/>
    {{ content }}
    </div>
  </main>

    {% include scripts.html %}

</body>
</html>
